h1{font-size: 42pt;}
h4{
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
    forced-color-adjust: rgb(134, 148, 4);
    color: brown;
}
.first{
    font-style: italic;
    color: red;
}
[title]{
    cursor: help;
    padding-bottom: 3px;
    border-bottom: 2px dotted blue;
    text-decoration: none;
}

a:link{
    text-decoration: underline;
    color: blue;
}
a:visited{
    text-decoration: underline;
    color: purple;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
}
a:active{
    background-color: yellow;
}